* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial, verdana, sans-serif;
	--dark: rgb(10, 10, 10);
	user-select: none;
}

a {
	color: inherit;
	text-decoration: inherit;
}

#black {
	background-color: var(--dark);
	color: white;
}

.dc {
	background-color: rgb(56, 102, 255);
}

.gh {
	background-color: rgb(71, 71, 71);
}

.yt {
	background-color: rgb(255, 49, 49);
}

.jumbotron {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	z-index: 3;
	color: white;
}

.jumbotron ul {
	display: flex;
	list-style: none;
	align-self: flex-end;
	background-color: rgba(255, 255, 255, .2);
	color: white;
	padding: 10px;
	font-weight: 500;
	border-radius: 50px;
}

.jumbotron ul li {
	margin-inline: 10px;
	text-decoration: none;
	transition: 0.2s;
}

.jumbotron ul li:hover {
	color: gray;
}

.jumbotron canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
}

.jumbotron .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 1;
	align-items: center;
	height: 100%;
	grid-column: 2;
}

.jumbotron .wrap {
	display: grid;
	grid-template-columns: auto auto auto;
	height: 100%;
	width: 100%;
	align-content: center;
	justify-content: space-between;
	position: relative;
}

.jumbotron span {
	position: absolute;
	top: 38%;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 5px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	width: 30px;
	font-weight: 600;
	opacity: 0;
	display: none;
}

.jumbotron span:last-child {
	right: 0;
}

.jumbotron .show {
	opacity: 1;
	display: block;
}

.content h1 {
	font-size: 5em;
}

.content p {
	font-size: 1.4em;
}

section {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section h2 {
	margin-bottom: 20px;
}

section p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
}

.about p {
	width: 80%;
	text-align: center;
}

section span {
	background-color: white;
	border-radius: 5px;
}

section.socialmedia {
	background-color: rgb(0, 0, 0);
	color: rgb(231, 231, 231);
}

.socialmedia .scm {
	display: none;
	padding: 60px;
	margin-bottom: 20px;
	width: 70%;
}

.socialmedia #show {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}

footer {
	padding: 50px;
	text-align: center;
}

footer p:first-child {
	color: cornflowerblue;
}

footer a {
	color: cornflowerblue;
}

@media only screen and (max-width: 375px) {
	.jumbotron ul {
		align-self: center;
		font-size: 0.9em;
	}

	.jumbotron .content {
		font-size: 0.8em;
	}

	.socialmedia #show {
		align-items: center;
	}

	.about p {
		width: 95%;
		text-align: center;
		font-size: 0.8em;
	}
}