.jumbotron {
	width: 100wh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	z-index: 3;
	color: white;
}

.jumbotron ul li {
	margin-inline: 10px;
	text-decoration: none;
	transition: 0.2s;
}

.jumbotron ul li:hover {
	color: gray;
	cursor: pointer;
}

.jumbotron canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
}

.jumbotron .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 1;
	align-items: center;
	height: 100%;
	grid-column: 2;
}

.jumbotron .wrap {
	display: grid;
	grid-template-columns: auto auto auto;
	height: 100%;
	width: 100%;
	align-content: center;
	justify-content: space-between;
	position: relative;
}

.jumbotron span {
	position: absolute;
	top: 38%;
	border-radius: 5px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	width: 30px;
	font-weight: 600;
	opacity: 0;
	display: none;
}

.jumbotron span:last-child {
	right: 0;
}

.jumbotron .show {
	opacity: 1;
	display: block;
}

.content h1 {
	font-size: 5em;
}

.content p {
	font-size: 1.4em;
}

.about {
	top: 0;
	position: relative;
}

.about p {
	width: 80%;
	text-align: center;
}

section.socialmedia {
	background-color: rgb(0, 0, 0);
	color: rgb(231, 231, 231);
}

section.music {
	background-color: rgb(0, 0, 0);
	color: rgb(231, 231, 231);
	border-bottom: 5px dotted wheat;
}

section.music .albums {
	display: grid;
	grid-template-columns: auto auto;
	align-items: baseline;
	justify-content: space-around;
	gap: 15px;
}

.scm {
	display: none;
	padding: 60px;
	margin-bottom: 20px;
	width: 70%;
}

#socialmedia {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}

#album {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	align-items: center;
	justify-content: space-around;
	width: 200px;
}

#album.scm {
	height: 300px;
}

#album .listen {
	grid-area: listen;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 200px;
}

.listen .button {
	margin: auto;
	box-sizing: border-box;
	width: 100%;
	transition: 0.2s;
}

#album h3 {
	margin-block: 10px;
	text-align: center;
}

#album img {
	border-radius: 14px;
	grid-area: img;
}

@media only screen and (max-width: 500px) {
	.jumbotron ul {
		align-self: center;
		font-size: 0.9em;
	}

	.jumbotron .content {
		font-size: 0.8em;
	}

	.socialmedia #socialmedia {
		align-items: center;
	}

	.music #album {
		grid-template-areas: 'img' 'listen';
		align-items: center;
		justify-content: center;
	}

	section.music .albums {
		gap: 0 150px;
	}

	#album {
		width: 30px;
		height: 200px;
		background-color: rgba(0, 0, 0, 0);
	}

	#album.scm {
		padding: 0;
		height: 200px;
	}

	#album img {
		width: 80px;
	}

	.listen .button {
		border: 0px;
		background-color: rgba(0, 0, 0, 0);
		font-size: 1em;
		width: 100px;
		align-items: end;
	}

	.about p {
		width: 95%;
		text-align: center;
		font-size: 0.8em;
	}
}